{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4 bg-white p-4 border rounded shadow-sm">
        <h3 class="text-center mb-4">Crear Cuenta</h3>
        
        {% if error %}<div class="alert alert-danger py-2 small">{{ error }}</div>{% endif %}
        
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Usuario</label>
                <input type="text" name="usuario" class="form-control" required placeholder="Usuario">
            </div>
            <div class="mb-3">
                <label class="form-label">Correo Electrónico</label>
                <input type="email" name="correo" class="form-control" required placeholder="correo">
            </div>
            <div class="mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" name="password" class="form-control" required placeholder="Contraseña">
            </div>
            <button type="submit" class="btn btn-success w-100 fw-bold">Registrar</button>
        </form>
        <div class="text-center mt-3">
            <a href="/login" class="small text-decoration-none text-muted">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
    </div>
</div>
{% endblock %}